Repository DefinitelyADev/custom-areas-integration, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, tests, code, dependencies, github_actions

.github/labeler.yml:

# Label for documentation changes
docs:
- changed-files:
  - any-glob-to-any-file: 'docs/**'

# Label for test changes
tests:
- changed-files:
  - any-glob-to-any-file: 'custom_components/custom_areas/tests/**'

# Label for code changes
code:
- changed-files:
  - any-glob-to-any-file: 'custom_components/**'

# Label for configuration changes
dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml', 'requirements-dev.txt', 'pytest.ini', 'pyrightconfig.json', 'mkdocs.yml']

# Label for CI changes
github_actions:
- changed-files:
  - any-glob-to-any-file: '.github/**'

chore: add coverage reporting to pytest
  .github/workflows/ci.yml
  requirements-dev.txt
  run_tests.py
Labels: dependencies, github_actions

chore: update changelog for version 1.2.2
  CHANGELOG.md
Labels: none

chore: add coverage reporting to pytest (#17)
  .github/workflows/ci.yml
  CHANGELOG.md
  requirements-dev.txt
  run_tests.py
Labels: dependencies, github_actions

chore: add stale workflow to manage inactive issues/PRs
  .github/workflows/stale.yml
Labels: github_actions

chore: add stale workflow to manage inactive issues/PRs (#18)
  .github/workflows/stale.yml
Labels: github_actions

docs(changelog): add workflow to manage stale issues
  CHANGELOG.md
Labels: none

chore: add SPDX identifier to LICENSE file
  LICENSE
Labels: none

chore: add SPDX identifier to LICENSE file (#19)
  LICENSE
Labels: none

Revise LICENSE file copyright and appendix
  LICENSE
Labels: none

docs: add badges to README for CI, HACS, and more
  README.md
Labels: none

fix: use pull_request instead of pull_request_target to avoid privilege escalation risk
  .github/workflows/label.yml
Labels: github_actions

chore(deps): ignore dependabot bumps for phacc-pinned test deps
  .github/dependabot.yml
Labels: github_actions

chore(deps): ignore dependabot bumps for phacc-pinned test deps (#28)
  .github/dependabot.yml
Labels: github_actions

docs: add AGENTS.md and CLAUDE.md
  AGENTS.md
  CLAUDE.md
Labels: none

docs: add AGENTS.md and CLAUDE.md (#33)
  AGENTS.md
  CLAUDE.md
Labels: none

fix(C1): restore dual-form numeric attrs on AreaSummarySensor
  custom_components/custom_areas/sensor.py
Labels: code

test(C1): assert dual-form attrs are present
  custom_components/custom_areas/tests/test_sensor.py
Labels: tests, code

docs(C2): align default-icon docs with code (mdi:texture-box)
  README.md
  docs/api.md
Labels: docs

chore(C2): remove unused ICON_HOME constant
  custom_components/custom_areas/const.py
Labels: code

chore(C3): bump version to 1.3.0 and update CHANGELOG
  CHANGELOG.md
  custom_components/custom_areas/manifest.json
Labels: code

Phase 1: restore dual-form attrs, fix icon docs, bump to 1.3.0 (#34)
  CHANGELOG.md
  README.md
  custom_components/custom_areas/const.py
  custom_components/custom_areas/manifest.json
  custom_components/custom_areas/sensor.py
  custom_components/custom_areas/tests/test_sensor.py
  docs/api.md
Labels: docs, tests, code

chore(L10): escalate pyright unused-* warnings to errors
  pyrightconfig.json
Labels: dependencies

ci: verify manifest version matches release tag
  .github/workflows/ci.yml
Labels: github_actions

ci(H6): add hassfest to release-job dependency list
  .github/workflows/ci.yml
Labels: github_actions

ci(L11): remove duplicate pre-commit run step on push
  .github/workflows/pre-commit.yml
Labels: github_actions

Phase 5: gate release on hassfest + manifest-vs-tag check (#35)
  .github/workflows/ci.yml
  .github/workflows/pre-commit.yml
  pyrightconfig.json
Labels: dependencies, github_actions

docs(M8-d): update examples.md entity IDs and labels
  docs/examples.md
Labels: docs

chore(M8-f): drop stale rooms stanza from .gitignore
  .gitignore
Labels: none

docs(M8-a): rewrite api.md for v1.2.0+ multi-entity architecture
  docs/api.md
Labels: docs

docs(M8): clean up remaining room references in docs/index.md
  docs/index.md
Labels: docs

docs(M8-b): rewrite developer.md with current class names
  docs/developer.md
Labels: docs

docs(M8-e,g): update mkdocs metadata, README CI section, CHANGELOG header
  CHANGELOG.md
  README.md
  mkdocs.yml
Labels: dependencies

docs(M8-c): update rationale.md terminology to areas
  docs/rationale.md
Labels: docs

Phase 4: sync docs to v1.3.0 multi-entity architecture (#36)
  .gitignore
  CHANGELOG.md
  README.md
  docs/api.md
  docs/developer.md
  docs/examples.md
  docs/index.md
  docs/rationale.md
  mkdocs.yml
Labels: docs, dependencies

chore(M6): remove cargo-culted pyright ignore
  custom_components/custom_areas/sensor.py
Labels: code

feat(H3): add options flow for reconfiguring area entries
  custom_components/custom_areas/config_flow.py
  custom_components/custom_areas/sensor.py
  custom_components/custom_areas/tests/test_sensor.py
  custom_components/custom_areas/tests/test_sensor_characterization.py
Labels: tests, code

chore(L1,L2): remove dead _data and redundant DOMAIN
  custom_components/custom_areas/config_flow.py
Labels: code

chore: rename unused event parameter to _ in _handle_state_change
  custom_components/custom_areas/sensor.py
Labels: code

fix: address pre-existing pyright issues on _handle_state_change
  custom_components/custom_areas/sensor.py
Labels: code

chore(M2): remove dead _attr_name on AreaSummarySensor
  custom_components/custom_areas/sensor.py
Labels: code
