Repository DefinitelyADev/custom-areas-integration, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, tests, code, dependencies, github_actions

.github/labeler.yml:

# Label for documentation changes
docs:
- changed-files:
  - any-glob-to-any-file: 'docs/**'

# Label for test changes
tests:
- changed-files:
  - any-glob-to-any-file: 'custom_components/custom_areas/tests/**'

# Label for code changes
code:
- changed-files:
  - any-glob-to-any-file: 'custom_components/**'

# Label for configuration changes
dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml', 'requirements-dev.txt', 'pytest.ini', 'pyrightconfig.json', 'mkdocs.yml']

# Label for CI changes
github_actions:
- changed-files:
  - any-glob-to-any-file: '.github/**'

chore: switch DeviceInfo suppresses to pyright-specific syntax
  custom_components/custom_areas/tests/test_sensor.py
  custom_components/custom_areas/tests/test_sensor_characterization.py
Labels: tests, code

refactor(L3): modernize typing annotations in sensor.py
  custom_components/custom_areas/sensor.py
Labels: code

fix(H5): slugify area name before unique_id check
  custom_components/custom_areas/config_flow.py
Labels: code

chore(M3): remove ineffective state-lookup cache
  custom_components/custom_areas/sensor.py
Labels: code

fix(H1): use CONF_AREA_NAME constant in __init__.py
  custom_components/custom_areas/__init__.py
Labels: code

chore(L4): remove UNIT_* alias indirection
  custom_components/custom_areas/sensor.py
Labels: code

chore: drop unused _LOGGER and logging import in config_flow
  custom_components/custom_areas/config_flow.py
Labels: code

chore: move DeviceInfo subscript onto its own line for pyright
  custom_components/custom_areas/tests/test_sensor_characterization.py
Labels: tests, code

refactor(M1): collapse 5 measurement sensors into AreaMeasurementSensor
  custom_components/custom_areas/sensor.py
  custom_components/custom_areas/tests/test_sensor.py
  custom_components/custom_areas/tests/test_sensor_characterization.py
Labels: tests, code

refactor(M5): rename coordinator.async_shutdown to shutdown
  custom_components/custom_areas/__init__.py
  custom_components/custom_areas/sensor.py
Labels: code

chore: silence pyright on TypedDict + voluptuous-default edge cases
  custom_components/custom_areas/config_flow.py
  custom_components/custom_areas/tests/test_sensor_characterization.py
Labels: tests, code

fix: guard ConfigFlowResult import under TYPE_CHECKING
  custom_components/custom_areas/config_flow.py
Labels: code

chore: black-format DeviceInfo identifier suppress comment
  custom_components/custom_areas/tests/test_sensor_characterization.py
Labels: tests, code

refactor(M7): consolidate setup-failure logging
  custom_components/custom_areas/__init__.py
Labels: code

fix(L6): materialize active_threshold default at config time
  custom_components/custom_areas/config_flow.py
Labels: code

test(M1-gate): add characterization test for measurement sensor surface
  custom_components/custom_areas/tests/test_sensor_characterization.py
Labels: tests, code

fix(ci): use Event[EventStateChangedData] with future annotations
  custom_components/custom_areas/sensor.py
Labels: code

fix(ci): store config_entry on private attr in OptionsFlowHandler
  custom_components/custom_areas/config_flow.py
Labels: code

Phase 3: options flow, M1 sensor collapse, code-quality cleanups (#37)
  custom_components/custom_areas/__init__.py
  custom_components/custom_areas/config_flow.py
  custom_components/custom_areas/sensor.py
  custom_components/custom_areas/tests/test_sensor.py
  custom_components/custom_areas/tests/test_sensor_characterization.py
Labels: tests, code

test(H2-a): remove dead test_simple.py
  custom_components/custom_areas/tests/test_simple.py
Labels: tests, code

test(H2-b): suppress pyright TypedDict access on FlowResult
  custom_components/custom_areas/tests/test_config_flow.py
Labels: tests, code

test(H2-b): populate config_flow tests with real hass fixture
  custom_components/custom_areas/tests/test_config_flow.py
Labels: tests, code

test(H2-d): add coordinator shutdown teardown test
  custom_components/custom_areas/tests/test_sensor.py
Labels: tests, code

chore: update tests package docstring to Custom Areas
  custom_components/custom_areas/tests/__init__.py
Labels: tests, code

test(H2-d): add icon priority tests
  custom_components/custom_areas/tests/test_sensor.py
Labels: tests, code

test(H2-c): add integration setup/unload/reload tests
  custom_components/custom_areas/tests/test_init.py
Labels: tests, code

test: follow Phase 3's coordinator.shutdown rename (M5)
  custom_components/custom_areas/tests/test_init.py
  custom_components/custom_areas/tests/test_sensor.py
Labels: tests, code

test(ci): register phacc plugin in tests/conftest.py
  custom_components/custom_areas/tests/conftest.py
Labels: tests, code

test(ci): make enable_custom_integrations opt-in per async test
  custom_components/custom_areas/tests/conftest.py
  custom_components/custom_areas/tests/test_config_flow.py
  custom_components/custom_areas/tests/test_init.py
Labels: tests, code

fix(test): shadow phacc enable_custom_integrations with async-aware fixture
  custom_components/custom_areas/tests/conftest.py
  custom_components/custom_areas/tests/test_init.py
Labels: tests, code

fix(test): call enable_custom_integrations inline from async test bodies
  custom_components/custom_areas/tests/_helpers.py
  custom_components/custom_areas/tests/conftest.py
  custom_components/custom_areas/tests/test_config_flow.py
  custom_components/custom_areas/tests/test_init.py
Labels: tests, code

test(ci): mark async test modules with pytest.mark.asyncio explicitly
  custom_components/custom_areas/tests/test_config_flow.py
  custom_components/custom_areas/tests/test_init.py
Labels: tests, code

fix(ci): rename pytest.ini section to [pytest] so asyncio_mode is honored
  custom_components/custom_areas/tests/test_config_flow.py
  custom_components/custom_areas/tests/test_init.py
  pytest.ini
Labels: tests, code, dependencies

test: account for Phase 3 L6 default materialization in optional-fields test
  custom_components/custom_areas/tests/test_config_flow.py
Labels: tests, code

Phase 2: real-hass tests for config flow, init lifecycle, sensors (#38)
  custom_components/custom_areas/tests/__init__.py
  custom_components/custom_areas/tests/_helpers.py
  custom_components/custom_areas/tests/conftest.py
  custom_components/custom_areas/tests/test_config_flow.py
  custom_components/custom_areas/tests/test_init.py
  custom_components/custom_areas/tests/test_sensor.py
  custom_components/custom_areas/tests/test_simple.py
  pytest.ini
Labels: tests, code, dependencies

chore: bump dev toolchain to Python 3.14, add HA 2026-latest matrix cell
  .github/workflows/ci.yml
  .github/workflows/pre-commit.yml
  AGENTS.md
  CLAUDE.md
  requirements-dev.txt
Labels: dependencies, github_actions

fix(mypy): set python_version to 3.14 to match toolchain Python
  pyproject.toml
Labels: dependencies

chore: bump dev toolchain to Python 3.14, add HA 2026-latest matrix cell (#39)
  .github/workflows/ci.yml
  .github/workflows/pre-commit.yml
  AGENTS.md
  CLAUDE.md
  pyproject.toml
  requirements-dev.txt
Labels: dependencies, github_actions

release: bump to 1.4.0
  CHANGELOG.md
  custom_components/custom_areas/manifest.json
Labels: code

release: bump to 1.4.0 (#40)
  CHANGELOG.md
  custom_components/custom_areas/manifest.json
Labels: code
