Repository DefinitelyADev/custom-areas-integration, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, tests, code, dependencies, github_actions

chore: gitignore .claude/ directory
  .gitignore
Labels: none

chore: gitignore .mcp.json
  .gitignore
Labels: none

docs: add community-health files and issue/PR templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  SECURITY.md
Labels: github_actions

docs: add community-health files and issue/PR templates (#45)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  SECURITY.md
Labels: github_actions

chore: bump version to 1.4.1
  custom_components/custom_areas/manifest.json
Labels: code

chore: bump version to 1.4.1 (#46)
  custom_components/custom_areas/manifest.json
Labels: code

.github/labeler.yml:

# Label for documentation changes
docs:
- changed-files:
  - any-glob-to-any-file: 'docs/**'

# Label for test changes
tests:
- changed-files:
  - any-glob-to-any-file: 'custom_components/custom_areas/tests/**'

# Label for code changes
code:
- changed-files:
  - any-glob-to-any-file: 'custom_components/**'

# Label for configuration changes
dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml', 'requirements-dev.txt', 'pytest.ini', 'pyrightconfig.json', 'mkdocs.yml']

# Label for CI changes
github_actions:
- changed-files:
  - any-glob-to-any-file: '.github/**'
